<!DOCTYPE html>
<html lang="en">

<head>
<base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">

    <title>Metaforge - Project Tracking System</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/lib/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet"> -->
	
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.css" />

    <link href="/css/common.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/elastislide.css" rel="stylesheet" />

    <!-- WYSIWYG-->
    <link rel="stylesheet" href="/css/wysiwyg/froala_editor.css">
    <link rel="stylesheet" href="/css/wysiwyg/froala_style.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/code_view.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/draggable.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/colors.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/emoticons.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/image_manager.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/image.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/line_breaker.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/table.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/char_counter.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/video.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/fullscreen.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/file.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/quick_insert.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/help.css">
    <link rel="stylesheet" href="/css/wysiwyg/third_party/spell_checker.css">
    <link rel="stylesheet" href="/css/wysiwyg/plugins/special_characters.css">
    <!-- WYSIWYG-->

    <link rel="stylesheet" href="/css/pagination.css" />
    <link rel="stylesheet" href="/css/dropzone.css" />
    <link href="/css/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/css/lib/datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="/css/fixedHeader.dataTables.css" rel="stylesheet" />
    
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link rel="apple-touch-icon" href="New-folder/theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="New-folder/theme-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/css/vendors.css">
    <!-- <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/vendors/css/charts/chartist.css"> -->
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/css/app-lite.css">
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="New-folder/theme-assets/css/pages/dashboard-ecommerce.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- END Custom CSS-->
</head>	

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b>
                            <img src="/img/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- <img src="/img/logo-text.png" alt="homepage" class="dark-logo" /> -->
                            <strong>CRM</strong>
                        </span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0"  data-ng-controller="HeaderController">
                        <!-- This is  -->
                        <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                        <li class="nav-item m-l-10"   data-ng-show="global.authenticated"><a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a></li>
						<li class="nav-item m-t-10 m-l-10"  data-ng-show="global.authenticated">
							<a class="btn btn-primary btnImportRFQ" href="#">Import RFQ</a>
						</li>
						<li class="nav-item m-t-10 m-l-10"  data-ng-show="global.authenticated">
							<div class="alert alert-success lblImportMessage m-b-2" style="display:none; padding: 8px;">Import process is done. Please <a href="/">click here</a> to see RFQ list.</a>
						</li>
                        <!-- Messages -->

                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <li class="nav-item dropdown">
                            <div class="navbar-inner" data-ng-controller="HeaderController">
                               <!-- <ul class="nav  pull-left">

                                    <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">|	&nbsp; <a ui-sref="{{item.state}}">{{item.title}}</a>
                                    </li>
                                </ul> -->
                                <ul class="nav pull-right" data-ng-hide="global.authenticated">
                                  <!--  <li>|	&nbsp; <a ui-sref="SignUp">Signup</a>
                                    </li>-->
                                    <li class="divider-vertical"></li>
                                    <li   data-ng-show="global.authenticated">|	&nbsp; <a ui-sref="SignIn"  target="_self">Signin</a>
                                    </li>
                                </ul>
                                <ul class="nav pull-right" data-ng-show="global.authenticated">
                                    <li class="dropdown"><strong><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hiya, {{global.user.firstName}}  </strong><b class="caret"></b>
                                    </a>
                                        <li>|	<a ng-click="SignOut()" href="#">Signout</a>
                                        </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div data-ng-controller="HeaderController">

            <div class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">

                        <ul class="sidebarnav" data-ng-show="!global.authenticated">
                            <li class="nav-label"><a ui-sref="SignIn"  target="_self">Signin</a></li>
                            <li class="nav-devider"></li>
                        </ul>
                        <ul id="sidebarnav" data-ng-show="global.authenticated">
                            <li class="nav-devider"></li>
                            <li class="nav-label">Home</li>
                            <li><a href="/" target="_self"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span>     </a>              
                            </li>
                             <li class="nav-label">My Section</li>        
                             <% if(user.isAdmin) { %>                                              
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-object-group"></i><span class="hide-menu">Departments</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/department">List</a></li>
                                    <li><a href="/department/create">Add</a></li>
                                </ul>
                            </li>                            
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user-secret"></i><span class="hide-menu">Users</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/user">List</a></li>
                                    <li><a href="/user/create">Add</a></li>
                                </ul>
                            </li>

                            <% } %>
                            <% if(user.isAdmin) { %>        
                            <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-users "></i><span class="hide-menu">Customers</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/customer">List</a></li>                                      
                                    <li><a href="/customer/create">Add</a></li>                                   
                                </ul>
                            </li>    
                             <% } else { %>
                            <li>
                                <a href="/customer" target="_self"><i class="fa fa-users"></i><span class="hide-menu">Customers</span>     </a>
                                <% } %>

                                <% if(user.isAdmin) { %>        
                            <li>
                                <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-registered "></i><span class="hide-menu">Raw Material</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/material">List</a></li>
                                    <li><a href="/material/create">Add</a></li>
                                </ul>
                            </li>   

                            <li>
                                <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-copyright "></i><span class="hide-menu">Conversation Master</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/conversion">List</a></li>
                                    <li><a href="/conversion/create">Add</a></li>
                                </ul>
                            </li>  

                            <li>
                                <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-header " style="font-size: 10px; width: 16px; border: 1px solid; border-radius: 50%; padding: 2px;"></i><span class="hide-menu" style="margin-left: 13px;">HTST Master</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/htst">List</a></li>
                                    <li><a href="/htst/create">Add</a></li>
                                </ul>
                            </li>  

							 <li>
                                <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bus"></i><span class="hide-menu">Packing & Forward</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/packing-and-forwarding">List</a></li>
                                    <li><a href="/packing-and-forwarding/create">Add</a></li>
                                </ul>
                            </li>
                            <% } %>

                            <li>
                                <!--<a href="#" aria-expanded="false" class="has-arrow  " ><i class="fa fa-line-chart"></i><span class="hide-menu">Reports</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/reports/rfqs">Rfqs</a></li>
                                </ul>-->
                                <a href="/reports/rfqs" aria-expanded="false"><i class="fa fa-line-chart"></i><span class="hide-menu">Reports</span></a>                             
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </div>
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
           <!-- <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>-->
            <!-- End Bread crumb -->          
            <%
            var isPageRestrict = false;
                var rolesAndRestrictPages = [{
                role: 'Admin',
                pageRestrict: []
            },
            {
                role: 'Dev',
                pageRestrict: ['/customer/[0-9]/edit',
                                            '/customer/create',
                                                '/user', 
                                                '/user/create', 
                                                '/user/[0-9]/edit',
                                                '/user/[0-9]',
                                                '/department',
                                                '/department/[0-9]/edit',
                                                '/department/create',
                                                '/department/[0-9]',
                                                '/customer/[0-9]/buyer/create',
                                                '/customer/[0-9]/buyer/[0-9]/edit',
                                            ]
            },
            {
                role: 'Agent',
                pageRestrict: ['/customer/[0-9]/edit',
                                            '/customer/create',
                                                '/user', 
                                                '/user/create', 
                                                '/user/[0-9]/edit',
                                                '/user/[0-9]',
                                                '/department',
                                                '/department/[0-9]/edit',
                                                '/department/create',
                                                '/department/[0-9]',                                             
                                            ]
            }];

            var userRole = rolesAndRestrictPages.filter(function(o) { return o['role'] == user.role; });
            if(userRole.length) {
                userRole = userRole[0];           
                if(userRole.pageRestrict.length ) {
                    isPageRestrict = new RegExp(userRole.pageRestrict.join("|", "i")).test(req.originalUrl);
                } else {
                    isPageRestrict = false;
                }
            }
            %>
             <% if (((typeof user == 'object' && user.id != null && !isPageRestrict) || req.originalUrl.split("?")[0] == "/signin" || req.originalUrl == "/")) { %>
            <!-- Container fluid  
            <div class="container-fluid">
                <br />-->
                  <!-- Start Page Content -->                 
                        <%- content %>
                <!-- End PAge Content 
            </div>-->
            <% } else { %>
				<script type="text/javascript">
					window.location.href = "/signin?redirect="+ window.location.pathname;
				</script>
            <div>
            <div class="card" style="text-align:center;">
                    <br />
                <h1>Metaforge</h1>
                <hr />
                    <h2>403  - <small>You don't have permission to view this page</small></h2>
                <% if(user.id == undefined) { %>
                    <p>Please <strong><a href="/signin" target="_self">click here</a></strong> to logged in or contact your administrator </p>
                <% } %>
               
                <hr />
                 <br /><br /><br />
                </div>
            </div>
            <% } %>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer">© <span id='currentYear'></span> All rights reserved. </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <input type="hidden" id="hdnPageSize" value="5" />
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/js/lib/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <!--   <script src="/js/lib/bootstrap/js/popper.min.js"></script>-->
   <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script> 
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart 
     <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>-->
    

    <script src="/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/calendar-2/pignose.init.js"></script>

    <script src="/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- scripit init-->

    <!--<script src="/js/custom.min.js"></script> -->

    <!--AngularJS-->

    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--Angular UI-->
    <script src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/lib/angular-ui-utils/modules/route/route.js"></script>
    <script src="/lib/satellizer/satellizer.min.js"></script>
    <script src="/js/FbSdk.js"></script>
    <script src="/lib/social/angular-fblogin.js"></script>

    <!--    Dropzone JS    -->
    <script src="/js/dropzone/dropzone.js"></script>

    <!-- Elastic Slide -->    
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.elastislide.js"></script>

    <!--Application Init-->
    <script src="/js/app.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>

    <!--	   Application Services-->
    <script src="/js/services/global.js"></script>
    <script src="/js/services/departments.js"></script>
    <script src="/js/services/authenticate.js"></script>
    <script src="/js/services/users.js"></script>
	<script src="/js/services/customers.js"></script>
    <script src="/js/services/customercomments.js"></script>
    <script src="/js/services/buyercomments.js"></script>
    <script src="/js/services/buyers.js"></script>
    <script src="/js/services/watchdogs.js"></script>
    <script src="/js/services/purchaseorders.js"></script>
    <script src="/js/services/purchaseorderimages.js"></script>    
    <script src="/js/services/rfqs.js"></script>
    <script src="/js/services/rfqcomments.js"></script>
    <script src="/js/services/samplesubmissions.js"></script>    
    <script src="/js/services/costsheets.js"></script>
    <script src="/js/services/dashboards.js"></script>
    <script src="/js/services/rawmaterials.js"></script>
    <script src="/js/services/conversions.js"></script>
    <script src="/js/services/htsts.js"></script>
	<script src="/js/services/packingAndForwardings.js"></script>
    <script src="/js/services/sampleinspectionreports.js"></script>
    

    <!--	  Application Controllers-->
        <script src="/js/controllers/users.js"></script>
      <script src="/js/controllers/departments.js"></script>
    <script src='/js/controllers/index.js'></script>
    <script src='/js/controllers/header.js'></script>
    <script src='/js/controllers/users/auth.js'></script>
    <script src='/js/controllers/users/signIn.js'></script>
    <script src='/js/controllers/users/signUp.js'></script>
	<script src="/js/controllers/customers.js"></script>
    <script src="/js/controllers/customercomments.js"></script>
    <script src="/js/controllers/buyercomments.js"></script>
    <script src="/js/controllers/buyers.js"></script>
    <script src='/js/init.js'></script>
    <script src="/js/controllers/watchdogs.js"></script>
    <script src="/js/controllers/rfqs.js"></script>
    <script src="/js/controllers/rfqcomments.js"></script>
    <script src="/js/controllers/purchaseorders.js"></script>
    <script src="/js/controllers/purchaseorderimages.js"></script>
    <script src="/js/controllers/samplesubmissions.js"></script>
    <script src="/js/controllers/costsheets.js"></script>
    <script src="/js/controllers/dashboards.js"></script>
    <script src="/js/controllers/rawmaterials.js"></script>
    <script src="/js/controllers/conversions.js"></script>
    <script src="/js/controllers/htsts.js"></script>
	<script src="/js/controllers/packingAndForwardings.js"></script>
    <script src="/js/controllers/sampleinspectionreports.js"></script>


    <script src="/js/jquery.fancybox.js"></script>
    
    <script type="text/javascript" src="/js/wysiwyg/froala_editor.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/align.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/colors.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/entities.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/file.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/image.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/link.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/lists.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/quote.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/table.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/save.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/url.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/video.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/help.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/print.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/third_party/spell_checker.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/special_characters.min.js"></script>
    <script type="text/javascript" src="/js/wysiwyg/plugins/word_paste.min.js"></script>
  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="/js/buttons.flash.js"></script>
    <script type="text/javascript" src="/js/jszip.js"></script>
    <script type="text/javascript" src="/js/pdfmake.js"></script>
    <script type="text/javascript" src="/js/vfs_fonts.js"></script>
    <script type="text/javascript" src="/js/buttons.html5.js"></script>
    <script type="text/javascript" src="/js/buttons.print.js"></script>
        

	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $(".ng-hide[data-ng-show='global.authenticated']").remove();
            }, 500);  
			
			$(".btnImportRFQ").on("click", function(){
				$me = $(this);
				$(this).html("<i class='fa fa-spinner fa-spin'></i>");
				var folder = "gmail";
				if(window.location.host.indexOf("crmmean") > -1) {
					folder = "gmail-demo";
				}
				$.ajax({url: window.location.protocol + "//localhost/crmcron/" + folder + "/", success: function(result){
					console.log(result);
					//$(".lblImportMessage").show().delay(5000).fadeOut();
					$(".lblImportMessage").show();
					$me.html("Import RFQ");
				}});
				return false;
			});

			$("#currentYear").html(new Date().getFullYear());
        });
    </script>

    <% if (user.id != null) { %>	
    <script type="text/javascript">		
        window.user = { id:<%= user.id %>, email: '<%= user.email %>', firstName: '<%= user.firstName %>', lastName: '<%= user.lastName %>', isAdmin: <%= user.isAdmin %>, role:'<%= user.role%>' };
    </script>
    <% } %>

</body>

</html>
